*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-position: center;
  height: -100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);

}